 img {
    width:50%;
    height: 40%;
    border: 5px rgba(0, 4, 5, 0.068) solid;
}
.nObjectTemplate:first-child{
display: none;
}
header h1 {
  float: left;
  margin-top: 50px;
}
header h1 {
  margin-left: 500px;
  font-size: 50px;
}
header select {
  float: right;
  margin-right: 70px;
  margin-top: 50px;
}

.nObjectTemplate{
  width: 80%;
  float: left;
  margin:auto;
  padding: 50px;
  position: relative;
}
option{
font-size: 15px;
}
p{
    font-size: 15px;
position: relative;
width:50%;
}
/* .buttonOT{
  flex-direction: row;
  display: inline-block;
} */